
	#id_divs_iniciando_chat{
        margin-bottom:14px;	
        }
    .divs_iniciando_chat{
    margin-top:8px;
    margin-bottom:14px;
    }
    
    
    #iniciando_chat{
        display:none; /* deberia ser flex; en caso que está el chat disponible */
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-content: space-between;
    }
    
    
    #chat_no_disponible{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-content: space-between;
    }
    
        #chat_no_disponible>p{
    align-self: center;
    color:black;
    text-align: justify;
        text-justify: inter-word;
        margin-left:8px;
        margin-right:18px;
        }


        #div_footer_inicio_chat{
            display:flex; /* se cambia a flex si esta el chat no disponible */
        flex-direction: column;
        }
        
        #div_footer_chat_no_disponible{
            display:flex; /* se cambia a flex si esta el chat no disponible */
        flex-direction: column;
        }
        
                
        #ul_chat{
            list-style-type: none;
            display:none; /* debe ser flex , lo cambié para hacer la otra interfaz */
            flex-direction: column;
            height:300px;
            overflow: auto;
            
        }
        
        #ul_chat>li{
        padding:5px;
        background-color:antiquewhite;
        border-radius: 5px;
        margin:3px;
        margin-left:-25px;
        word-wrap: break-word;


        }
        
        li>p{
            display: inline-block;
         
        }
        
        #footer_chat{
            margin-bottom:10px;
        }
        
        #div_footer_chat_disponible{
            display:none; /* se cambia a flex si esta el chat disponible */
        flex-direction: column;
        }
        
        
        
        #boton_enviar_chat{
            cursor: pointer;
            align-self: center;
            width:40%;
        }
        
        
        #guion_chat{
            margin-right:15px;
            margin-bottom:20px;
            cursor:pointer;
        }
        
        #header_chat{
            align-self: flex-start;
            height:28px;
            background-color:#2a3f54;
            width:100%;
            border:0;
            display:flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: space-between;
            margin:0;
            box-shadow: 2px 2px 5px #e0dada;
        }
        
        #centro_chat{
            background-color: #fff;
        
            
        
        }
        
        #chat1{
            
            box-shadow: 20px 20px 50px black;
            position:fixed;
            z-index: 1000;
            bottom:0;
            right:0;
            background-color:white;
            width:20em;
            height:33   em;
            border-radius: 4px;
            display:none;
            justify-content: space-between;
            
            flex-direction: column;
            align-content: space-between;
        }
        
        #sobre_chat1{
            
            
            margin:4px;
            
        }
        
        #segunda_parte_chat1{
            color:white;
            font-size:13px;
            margin:4px;
            
            
            
        }
        
        
        hr {
            width:100%;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            background-color: #e5e3e3;
            border-color:#e5e3e3;
        
            
        }
        
        
        #chat{
            
            position:fixed;
            z-index: 1000;
            bottom:0;
            right:0;
            background-color:#2a3f54;
            width:20em;
            height:2em;
            border-radius: 4px;
            display:flex;
            justify-content: center;
            cursor:pointer;
        }
        
        #sobre_chat{
            flex-grow: 1;
            margin:4px;
            
        }
        
        #segunda_parte_chat{
            color:white;
            font-size:13px;
            margin:4px;
            flex-grow: 1;
            
        }
        
        
        
                    .tab-pane{
                        text-align: justify;
            text-justify: inter-word;
                    }
        
        
        
        
                    ::-webkit-scrollbar {
            width: 12px;
        }
         
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            border-radius: 10px;
        }
         
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }